@charset "utf-8";
/* CSS Document */

  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&family=Pangolin&family=Russo+One&display=swap');

*{
	margin: 0px;
	padding: 0px;
	border: 0px;
	box-sizing: border-box;
	font-family: lato;
	font-style: normal;
}

body{
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-bottom: 80px;
}

header {
    width: 100%;
	position: fixed;
    background-color: #FFFFFF;
	padding-bottom: 20px;
	opacity: 0.9;
}

h3, h4, h5 {
	height:14px;
}

h3 { 
	color:#737373;
	font-size: 12px;
	font-weight: 400;
}

h4 {
	color:#737373;
}

h5 {	
	height:17px;
	color:#FFFFFF;
}

#barra {
	background: #FFFFFF;
	display: flex;
	font-size: 12px;
	width: 100%;
	padding: 10px 40px 0px 0px;
	color:#737373;
	justify-content: flex-end;
}


#cuotas {
	padding: 15px;
	width: 100%;
	align-items: center;
	align-content: center;
	font-size: 12px;
	line-height: 15px;
	color: #FFFFFF;
	background: #000000;
	text-align: center;
	}

p {
	height: 12px;
}

.fav { 
	display: flex; 
	margin-right: 20px;
	box-sizing: content-box;
}

a:hover {
	text-decoration: underline;
	 cursor: pointer;
}

.ingreso {
	display: flex;
	box-sizing: content-box;
	column-gap: 10px;
}


#cuotas{
	width: 100%;
	padding-bottom: 10px;
}
.botonera-head {
	display: flex;
	width: 100%;
	height: 100%;
	font-size: 14px;
	color:#737373;
	padding: 20px 0px 0px 10px;	
	box-sizing: border-box;
}

.navegacion {
	display: flex;
	width: 100%;
	box-sizing: border-box;
	justify-content: space-around;
	padding: 0 5% 0 10%;
}

.suscripcion {
	display: flex;
	width: 100%;
	justify-content: center;
	padding: 20px 0 0 0;
}

#logo {
	display:flex;
	justify-content: center;
	padding: 20px 0 20px 0;
}

#buscar {
	display: flex;
	display: block;
	box-sizing: border-box;
	cursor: pointer;
}

#menu-small {
	width: 100%;
	display: none;
	padding: 0 5px 0 5px;
}

#lupa-shop {
	display:flex;
	flex-direction: row-reverse;
	padding: 0 3% 0 0;
	cursor: pointer;
}

#desplegable {
	margin: 0 40px 0 3%;
	display: inline-block;
	cursor: pointer;
}


.lista-desplegable {
	
	
}

.navegacion{
	margin-left: 40px;
	margin-right: 40px;
	}

div a img {
	width: 100%;
	height: auto;
	padding: 0px;
	cursor: pointer;
}

.espacio-header {
	padding: 190px 0px 0px 0px;
}

.grid-container {
	width: 100%;
	height: 100%;
	padding: 20px 5% 0 5%;
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: auto;
	grid-gap: 10px;
	justify-content: space-around;
}

.grid-container img {
	width: 100%;
	display: block;
	grid-gap: 1%;
	justify-content: space-around;
	cursor: pointer;
}

.hashtag {
	display: flex;
	font-size: 35px;
    font-weight: 700;
	margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
	justify-content: center;
}

.botonera-redes {
	display: grid;
	justify-content: space-around;
	width: 100%;
	height: 100%;
	grid-template-columns: 24% 24% 24% 24%;
	padding: 10px 5% 0 5%;
	grid-gap: 1%;
}

.botonera-redes img {
	width: 100%;
	height: auto;
	align-content: space-around;
	cursor: pointer;
}

footer {
	width: 100%;
	height: 100%;
	padding: 20px 5% 0 5%;
}

	.newsletter {
	display: flex;
	flex-direction: column;
	color:#000000;
	margin-top: 25px;
	margin-bottom: 40px;
	align-items: center;
}

.mail {
	text-decoration: underline;
	text-align: center;
	font-size: 12px;
	margin-top: 40px;
	margin-bottom: 20px;
}

.suscribirse-boton {
	padding: 0 0 20px 0;
	box-sizing: border-box;
	display: flex;
	align-content: center;
	align-self:center;
	align-items: center;
	cursor: pointer;
}

.contacto {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 40px 0 25px 0;
 	border-top: 1px solid #797979;
  	border-bottom: 1px solid #797979;;
}
.contacto h3 {
	width: 33%;
	text-align: center;
	padding-bottom: 40px;
}

.datos {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.atencion {
	display: flex;
	justify-content: center;
	padding: 25px 0 0 0;
}

.ayuda {
	text-align: center;
	padding: 40px 0 0 0;
}

.lista {
	text-align: center;
	padding: 40px 0 0 0;
}

li { 
	padding: 2px;
	font-size: 12px;
	color: #797979;
}

.listas-footer {
	display: flex;
}

.lista {
	display: flex;
	flex-direction: column;
	width: 33%;
	list-style: none;
}

.titulos-listas {
	font-size: 12px;
	padding: 0 0 30px 0;
	font-weight: bold;
}

@media screen and (max-width:768px) {
	
	#barra {
		display: none;
	}
	
	.botonera-head {
		display: none;
	}
	
	
	#logo {
		display: none;
	}
	
	.gallery {
		display: none;
	}
	
	#cuotas {
		padding: 0 0 30px 0;
	}
	
	.espacio-header {
		display: none;
	}
	
	header {
		opacity: 10;
	}
	
	#menu-small {
		display: flex;
		padding: 20px 5px 20px 5px;
	}
	
	.logo-small {
		width: 100%;
		display: flex;
		align-self: center;
		justify-content: center;
	}
	
	header {
		padding:0px;
	}
	
	#cuotas {
	width: 100%;
	box-sizing: content-box;
	align-self: center;
	justify-content: center;
	padding: 10px 0px 30px 0px;
	}
	.listas-footer {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.grid-container {
		display: grid;
		width: 100%;
		padding: 110px 5% 0 5%; 
		grid-template-columns: 50% 50%;
		grid-column-gap: 10px;
		grid-row-gap: 10px;
	}
	
	.grid-container img {
		display: grid;
		padding:0;
		grid-area: 2px;
		justify-content: space-between;
		gap-area: 5px;
	}
}
	